@import "tailwindcss";

/* Only for Home Section */
#wrapper-canvas canvas{
    max-width: 100%;
}
.shadow-amber {
  filter: drop-shadow(0 0 6px rgba(15, 11, 245, 0.5)); /* amber-500/50 */
}

/* for Skill Section */
.skill {
  margin: 20px 0;
}

.progress-bar {
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
}

.progress {
  height: 100%;
  border-radius: 20px;
}

.progress.html {
  width: 90%;
  background: orange;
}

.progress.css {
  width: 75%;
  background: blue;
}
.progress.tc {
  width: 65%;
  background: rgb(195, 0, 255);
}

.progress.js {
  width: 50%;
  background: green;
}
.progress.git {
  width: 45%;
  background: rgb(0, 92, 128);
}
.progress.react {
  width: 40%;
  background: rgb(124, 0, 128);
}
.skills-section {
  padding: 40px;
  max-width: 600px;
  margin: auto;
  border: 2px solid gray;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 6px rgb(51, 45, 45);
}

/* for Certification Section */
.cards-container{
    margin: 1rem;
    border-radius: 16px;
    overflow: hidden;
}

.card {
    padding : 3rem;
    box-shadow: 2px 2px 2px 5px red;
}

.card h2{
    text-transform: uppercase;
    font-size: 2rem;
}
.orange-card {
 background-color: hsl(20, 5%, 12%);
 border-radius: 8px 0 0 8px ;
}

.green-card {
background-color: hsl(20, 5%, 12%);
}

.dark-green-card {
background-color: hsl(20, 5%, 12%);

}

/* for About Section */
.about-text {
  max-width: 1300px;
  text-align: center;
  justify-content: center;
  margin: 48px 48px;
}
.about-section .about-text{
 text-align: left;
}

/* for Responsive */
@media (max-width: 600px) {
   
    .orange-card{
        border-radius: 8px 8px 0 0;
    }
}