
@import "tailwindcss";

 @import url('https://fonts.googleapis.com/css?family=Aboreto:regular');

 .img1{
    transition: all 0.2s ease-out;
 }

 .img1:hover{
    transform: translateY(-100%);
 }

 .image{
   background-image: url('https://zesty-figolla-613ce3.netlify.app/img/home1.jpg');
   width: 100%;
   height: 500px;
 }