*{
    /* text-align: center; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   
}
h1{
     max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
a{
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
}
.container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
  
img{
    max-width: 100px;
}
}
.border{
  border: 1px solid black;
  border-radius: 6px;
  margin: 16px ;
  padding: 12px;
}